* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFE194;
}
h1 {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.player {
    display: flex;
}
.results {
    height: 75px;
    width: 100px;
    margin-top: 15px;
}
